@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Sriracha&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* Navbar style */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: darkgoldenrod;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: darkgoldenrod;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: darkgoldenrod;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu style */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home style */
.home{
    display: flex;
    /*Insert img*/
    background: url("https://cdn.discordapp.com/attachments/910079938936315978/920926587220815902/771198.jpg") no-repeat center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: darkgoldenrod;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: darkgoldenrod;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid darkgoldenrod;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: darkgoldenrod;
    background: none;
}

/*all similar content styling code*/
section{
    padding: 100px 0;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: darkgoldenrod;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* member section style */
.member{
    font-family: 'Poppins';
}
.member .title::after{
    content: "6 / 3";
}
.member .mem-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.member .mem-content .row{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.member .mem-content .row .mem{
    margin: 8px;
    text-align: center;
}
.mem{
    flex-basis: 25%;
}
.member .mem-content .row .mem img{
    width: 200px;
    height: 250px;
    border:  3px solid darkgoldenrod;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
}
.member .mem-content .row .mem .layer i{
    width: 20px;
    margin: 5px;
    color: darkgoldenrod;
}

/* responsive media query start */
@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .max-width{
        max-width: 800px;

    }
    .member .mem-content .row{
        flex-direction: column;
    }
}